.text-input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-top:20px;
}
@media(max-width:768px) {
    .text-input {
     width: 200px;
     height: 40px;
     border-radius: 10px;
     margin-top:20px;
    }
    .form-section{ display: flex;
        flex-direction: column;
    }

}