.login-field{
    background:linear-gradient(to right, white 0%, lightsteelblue 100%);
    
}
.login-input{
    width: 100%;
    margin-bottom: 20px;
}
.login-form .login-input{
    border: none;
    border-bottom: 2px solid rgb(103, 125, 148);
    background: transparent;
    outline: none;
    height: 40px;
}
.login-form{
    margin-top: 150px;
    margin-left: 100px;
    
}